<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="WineStoreConnectionString" connectionString="Data Source=DESKTOP-6LT3B9D\SQLEXPRESS;Initial Catalog=WineStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
      <add key="XeImagePath" value="D:\Upload\" /> 
    </appSettings>

</configuration>
